<!DOCTYPE html>
<html>
<head>
<style>
body {
		font-size: small;
		margin-left: 20px;
		margin-right: 20px;
	}
.list {
	list-style-type: none;
}
li{
	margin-top: 7px;
}
.data {
	font-weight: bold;
}
#firmas {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}
table {
	width: 99%;
}
td{
	text-align: center;
}
.imagenFirma{
	margin-left: 50px;
}
img{
	max-width: 45%;
    height: auto;
}
</style>
</head>
<body>
	<div style="width: 95%;">
		<h3 style="text-align: center;">
			Condiciones del Servicio
		</h3>
		<div style="text-align: justify;margin-left: 20px;">
		<p>La aceptación de los presentes términos y condiciones comportan la suscripción de un contrato entre 
			BERDAC SMART SERVICES, S.L. (en adelante “Berdac”) y Ud. (en adelante, el “Usuario” o el 
			“Paciente”).
		</p>
		<p>A los efectos del presente acuerdo se entiende por “Usuario” a la persona que utiliza la APP y por 
				“paciente” al titular de la tarjeta sanitaria o destinatario de la receta (electrónica o en papel) por el que 
				un facultativo le prescribe un determinado medicamento con arreglo a la normativa sanitaria vigente. 
		</p>
			<p>Usuario y paciente pueden no coincidir en una misma persona, siendo habitual que determinados 
					pacientes encomienden a familiares, cuidadores, amigos o terceras personas la función de realizar 
					todas las actividades conducentes a la obtención del medicamento.
		</p>
		<p>A lo largo de este documento se utilizará la expresión “paciente” cuando se encuentre en un contexto 
					donde el término se utilice para referirse al destinatario final del medicamento; “usuario” cuando el 
					contexto se refiera a quien hace uso de la APP (lo que presupone un mandato del paciente, en el caso 
					en que las personas “usuario” y “paciente” no coincidan) y “Ud.” cuando sea indistinto.
		</p>
		<p>Además de la aceptación de las condiciones aquí descritas, Ud. deberá aceptar la documentación y 
					contratos vinculados al servicio que recibirá a través de los medios telemáticos disponibles en el 
					momento.
		</p>
		<p> <strong>Lea atentamente las Condiciones del Servicio. Para confirmar que ha entendido y acepta el 
						documento, haga clic en “Acepto”, y rellene los campos obligatorios para obtener los servicios 
						de Berdac.</strong></p>

		<ul>
			<li> <h3> 1. Descripción del servicio.</h3>
				  <p>Los pacientes que precisan medicación no están obligados a comparecer personalmente en la oficina 
					de farmacia para obtener los medicamentos, debido a las limitaciones físicas existentes. Podría darse 
					el caso de que estuvieran enfermos y precisaran de una tercera persona que acudiera en su nombre 
					a la oficina de farmacia para obtenerlo.</p>
				  <p>Cuando una tercera persona es la que acude a la oficina de farmacia, ésta necesita la receta que 
						prescribe el medicamento. Actualmente hay dos tipos de recetas: la receta electrónica (asociada a la 
						tarjeta sanitaria del paciente) y la receta física. Los dos modelos de receta conviven en la legislación 
						actual. Es decir, cuando se genera una receta física, ésta recoge exactamente los medicamentos 
						prescritos. En cambio, cuando se utiliza la tarjeta sanitaria, el farmacéutico puede examinar todos los 
						medicamentos pendientes de dispensación.</p>
					<p>Los farmacéuticos no pueden acudir a los domicilios particulares a vender medicamentos, dado que la 
							venta a domicilio está prohibida según el art. 3.5 del Real Decreto Legislativo 1/2015, de 24 de julio,
							por el que se aprueba el texto refundido de la ley de garantías y uso racional de los medicamentos y 
							productos sanitarios.</p>
					<p>Berdac es una compañía que presta un servicio consistente en ayudar al paciente a mejorar su 
								adherencia farmacoterapéutica mediante el uso de la tecnología. Para ello, pone a disposición del 
								paciente un instrumento (la APP) mediante el que puede hacer un encargo fotografiando su tarjeta 
								sanitaria y/o la receta física, a fin de que una persona – el mandatario del servicio – acuda a la oficina 
								de farmacia escogida de entre las que se encuentran conectadas a la APP, para obtener allí el 
								medicamento, producto sanitario (en beneficio del paciente titular de la receta) o cualquier producto 
								farmacéutico. También podrá complementarlo con la tecnología disponible dentro del servicio como el 
								robot de dispensación de medicamentos IMA, que le ayudará, no solo a recordar, sino que supervisará 
								su adherencia y le alertará, a usted u otra persona cuidadora, en caso de cualquier incidencia.</p>
					<p>En el caso de utilizar la tarjeta sanitaria, y como quiera que la misma suministra información sobre 
						todas las recetas pendientes de dispensación, el paciente podrá determinar qué recetas quiere que se 
						le obtengan. Por defecto, se entenderá que se desea obtener la totalidad de las recetas pendientes de 
						dispensación, tal como indicado por el facultativo o, en su defecto, según el consejo farmacéutico. 
						Posteriormente, se prestará el servicio de obtención de los medicamentos.</p>
					<p>El servicio podrá contratarse por vía telemática (página web, formulario web, APP) o telefónica 
						(mediante una llamada). En el primer caso, usted aceptará las Condiciones del Servicio marcando la 
						casilla correspondiente. En el caso de que realice la contratación del servicio telefónicamente, Ud. 
						acepta que estas condiciones del servicio han sido revisadas y aceptadas por su parte.
						</p>
					<p>En todo caso, el uso del Servicio aquí descrito implica la aceptación de cuantos términos y condiciones 
						se encuentran descritos en el presente documento.</p>
					<p>Ud. acepta un contrato de Mandato por el cual una persona de Berdac, identificada mediante su DNI, 
						actuará como mandatario del servicio designado por Ud. (persona en quien delega la entrega) y le 
						llevará la medicación, producto sanitario u otro producto farmacéutico solicitado.</p>
					<p>Ud. deberá firmar, además, una autorización a favor de la Farmacia que haya escogido, para que ésta 
						pueda llevar a cabo el Servicio Personalizado de Dosificación (SPD) de su medicación, es decir, que 
						les autoriza a preparar, administrar, almacenar y dispensar la medicación indicada por su médico.</p>
					<p>Además, si fuera el caso, deberá realizar el pago de los medicamentos que sean oportunos (a la 
						Farmacia) y/o el pago de los servicios que preste BERDAC. Para ellos se le solicitará, en el momento 
						conveniente, la información necesaria.</p>
					<p>La APP está diseñada para ofrecer, ahora o en el futuro, otros servicios de valor añadido que Ud. podrá 
						comprobar en su aplicación. Por ejemplo, podrá dar de alta un nuevo dispositivo de dispensación de 
						la medicación (robot IMA) o los servicios de alerta telefónica como complemento del seguimiento del 
						plan de medicación.
						</p>
					<p>Ud. recibirá alertas cuando un medicamento adquirido utilizando la APP se encuentre próximo a 
						terminarse. Asimismo, la APP es un instrumento que, en cumplimiento de las recomendaciones de la 
						Organización Mundial de la Salud sobre adherencia al medicamento, podrá proporcionar el servicio de 
						avisar en cada toma. El paciente podrá entonces observar el tratamiento y evitar riesgos de falta de 
						medicación o exceso de la misma, conforme a lo que el médico y el farmacéutico aconsejan o, en su 
						defecto, las previstas en el propio prospecto.</p>
					<p>En caso de que disponga de un robot de dispensación, dicha APP también recogerá la información 
						relativa a cada toma y el resultado de la misma. Ofrecerá, en tiempo real, no solo el aviso del momento 
						de la toma sino también el estado de la misma y/o el motivo por el cual la toma está en peligro de 
						perderse. Podrá, además, disponer del servicio de seguimiento específico, donde la actuación 
						correspondiente (fundamentalmente en forma de llamada telefónica de advertencia) sería realizada 
						por BERDAC.</p>
					<p>La APP también se utilizará como plataforma de comunicación entre cada una de las partes, ya sea 
						para solicitar consejo farmacéutico, facilitarlo o solventar asuntos logísticos o financieros que surjan 
						durante la prestación del servicio.</p>
					<p>La APP le indicará en cada momento los servicios disponibles. Su consentimiento contractual se presta 
						en relación con los servicios vigentes en la versión instalada en su dispositivo. La APP podrá sufrir 
						actualizaciones que siempre serán en aras de la mejora del servicio que se le está ofreciendo hasta el 
						momento.</p>
					<p>Mediante la aceptación de este documento, Ud. autoriza las siguientes acciones:
						<ul>
							<li>La retirada de la medicación, prescrita por el médico, por parte de la Farmacia Colaboradora 
								escogida por usted.
								</li>
							<li>La preparación, en caso de que así sea requerido, de la medicación en forma de dispositivo 
								de ayuda al cumplimiento del plan de medicación.
								</li>
							<li>La disposición, por parte de Berdac y la Farmacia Colaboradora escogida por usted, de los 
								datos necesarios para la medicación. Da, a su vez, autorización para registrar dichos datos
								(lea el apartado de Cesión de Datos a Terceros, para más detalle). </li>
							<li>Da su consentimiento para registrar los datos farmacéuticos correspondientes y que la 
								medicación quede en depósito de la Farmacia Colaboradora.</li>
							<li>Confirma que ha sido informado/a de todo el proceso de preparación de la medicación en el 
								formato solicitado y del proceso de protección de datos establecido.</li>
							<li>Autoriza a que el servicio que se inicia a petición de usted sea llevado a cabo mientras 
								permanezca vigente el acuerdo entre ambas partes.</li>
							<li>Autoriza la cesión de datos personales a terceras empresas con el fin único de la prestación 
								del servicio aquí descrito.</li>
							<li>Autoriza y da su consentimiento de que BERDAC le gire un recibo mensual por el importe 
								correspondiente al servicio prestado. Dicho recibo incluirá cualquier sobrecargo al que se 
								incurra durante la prestación del servicio (como, por ejemplo: envío de productos de gran 
								volumen, envíos a destinaciones distintas a las previstas, condiciones de envío especiales, 
								baja del servicio con medicación preparada o baja del servicio sin devolución de dispositivos
								disponibles).</li>
							<li>Autoriza, en caso de que así lo haya solicitado, a que el MANDATARIO con quien habrá 
								firmado en contrato oportuno, le entregue al domicilio indicado por usted, la medicación 
								previamente retirada, preparada, acondicionada y económicamente satisfecha por y a la 
								Farmacia Colaboradora.
								</li>
							
						</ul>
					</p>
			</li>
			<li>
				<h3>2. Contrato electrónico</h3>
				<p>
					Berdac es titular de una herramienta informática de software cuya propiedad intelectual le corresponde. 
					Presta el servicio antes mencionado, consistente en poner a disposición de los usuarios que lo 
					requieran, un instrumento (la APP) mediante el que pueden hacer un encargo fotografiando su tarjeta 
					sanitaria y/o la receta física emitida por un médico con arreglo al Real Decreto 1718/2010, de 17 de 
					diciembre, sobre receta médica y órdenes de dispensación, a fin de que una persona – el mandatario 
					del servicio – acuda a una oficina de farmacia que se encuentre adherida a la APP, para obtener la 
					dispensación del medicamento, producto sanitario u otro producto farmacéutico. La APP podrá ofrecer 
					también el servicio de obtención de productos de parafarmacia y otros productos que no requieran 
					receta médica. La misma APP permitirá la incorporación del Robot IMA, que complementará la ayuda 
					recibida y la gestión de la adherencia terapéutica.
				</p>
				<p>
					Desde esta perspectiva, es objeto de las presentes condiciones la cesión, sin exclusiva, y mediante 
licencia contractual sujeta a la normativa de propiedad intelectual, de un producto de software cuya
titularidad corresponde a Berdac, en código binario ejecutable por máquina, y con material documental 
por escrito relacionado con el mismo (en adelante, el “Software”). El término “Software” también hace 
referencia a versiones nuevas, modificadas o actualizadas del Software para las cuales Berdac otorga 
licencia de uso al Usuario de la APP.
				</p>
				<p>
					El Software no es objeto de venta – sino únicamente de licencia – y solo se encuentra disponible para 
					su utilización de acuerdo con los términos expresados en la presente documentación. La aceptación 
					de las mismas se produce mediante su firma/aceptación y la instalación del software en el equipo o 
					equipos que designe el Usuario.	
				</p>
				<p>
					El Usuario obtiene la licencia de uso para la contratación de los servicios que ofrece la APP que, en la 
medida en que resulte aplicable la normativa sanitaria, se prestarán en territorio español, debidamente 
ajustados a la normativa del Estado Español y de la Comunidad Autónoma donde se encuentre ubicada
la oficina de farmacia donde se obtendrán los medicamentos o productos objetos del servicio.

				</p>
				<p>
					La licencia es no exclusiva y no transferible. Se otorga con el único fin de instalar y usar una copia del 
Software para los fines señalados, utilizando como elemento instrumental los equipos que se designen 
y, siempre, bajo la responsabilidad sanitaria del farmacéutico dispensador.
				</p>
				<p>
					Queda prohibida la instalación, ejecución o utilización de la licencia en equipos ajenos los designados 
por el Usuario. No se permite compartir el mismo, ni que Usuarios distintos del licenciatario puedan 
instalar, descargar, copiar o utilizar de forma alguna el Software.
				</p>
				<p>
					Queda igualmente prohibida la reproducción o copia del Software o parte del mismo. No se podrá 
modificar ni crear ninguna obra derivada del Software, entre ellas la traducción o localización. No será 
posible descompilar, desensamblar, aplicar ingeniería inversa, ni intentar de algún otro modo obtener 
el código fuente del Software. Queda prohibido redistribuir, afectar, vender, alquilar, arrendar, 
sublicenciar, ni transferir los derechos al Software de ninguna otra manera. Tampoco está permitido
eliminar ni alterar ninguna marca, logotipo, copyright, ni otra nota, leyenda, símbolo o etiqueta de la 
propiedad exclusiva de Berdac presente en el Software.
				</p>
				<p>
					Sin el previo consentimiento por escrito de Berdac, queda prohibido:

				</p>
				<p>
				<ul>
					<li>Proporcionar servicios de procesamiento de datos usando el Software.</li>
					<li>Llegar a un acuerdo con un tercero para usar el Software en nombre de éste con el objetivo 
						principal de eliminar la necesidad de que dicha parte obtenga la licencia del Software.</li>
					<li>Copiar la documentación por escrito que acompaña al Software.</li>
				</ul>
			</p>
			<p>
				Mediante la aceptación del presente documento, el Usuario presta su consentimiento para que Berdac
incluya, si así lo estima oportuno, características en el Software que impidan el uso no autorizado del 
mismo.

			</p>
			<p>
				Mediante la aceptación del presente documento, el Usuario presta su consentimiento para que, durante 
				la activación del servicio o en caso de modificación de hardware, Berdac pueda recabar información 
				técnica no personal de su dispositivo, acerca de su equipo o red, con el fin de que el Software pueda 
				ser operativo.	
			</p>
			<p>
				La activación del equipo y su actualización se realiza a través de la APP Store correspondiente.
			</p>
			<p>
				El título, los derechos de propiedad y los derechos intelectuales de propiedad del Software quedarán 
en poder de Berdac. El Usuario reconoce estos derechos de propiedad intelectual y no llevará a cabo 
medidas para poner en peligro, limitar ni interferir de ninguna manera con tales derechos.
			</p>
			<p>
				El Software está protegido por el Real Decreto Legislativo 1/1996, de 12 de abril, por el que se aprueba 
				el texto refundido de la Ley de Propiedad intelectual, regularizando, aclarando y armonizando las
				disposiciones legales vigentes o normativa que lo sustituya o desarrolle, así como por la a Directiva 
				2014/26/UE del Parlamento Europeo y del Consejo, de 26 de febrero de 2014, y la Directiva (UE) 
				2017/1564 del Parlamento Europeo y del Consejo, de 13 de septiembre de 2017.
					
			</p>
			<p>
				La primera vez que Ud. se registre para solicitar nuestros servicios, se adherirá a todos los términos 
				que constan en el presente documento, y se considerarán válidos en relación con los servicios que la
				APP ofrece en la versión instalada en su dispositivo y, más en concreto, con los servicios que Ud. haya
				elegido al realizar la solicitud y pago de los servicios contratados.	
			</p>
			<p>
				Mediante la aceptación del presente documento y la firma del contrato correspondiente por medios 
telemáticos, el Usuario presta su consentimiento para que, durante la prestación del servicio, el 
mandatario del mismo quede designado como tal y, en su nombre, pueda acudir a la Farmacia 
Colaboradora que indique para retirar la medicación y proceder a su entrega. El mandatario quedará 
automáticamente designado por Ud. para poder ejercitar dichas funciones de retirada del medicamento 
que Ud. habrá solicitado previamente a la Farmacia Colaboradora. 
			</p>
			<p>
				Tenga en cuenta que cada vez que realice una solicitud del servicio de entrega, se generará el cargo 
económico correspondiente al método de copago establecido en su Comunidad Autónoma. Dicho 
cargo, en caso de existir, será el importe de los medicamentos y se realizará directamente por parte 
de la Farmacia Colaboradora. En ningún caso, la venta de la medicación se llevará a cabo por Berdac.

			</p>
			<p>
				Para facilitar la transacción económica oportuna, en caso de existir, así como en caso de incurrir en 
algún gasto no previsto, la APP le solicitará a Ud. un número de IBAN. Mediante la aceptación de esta 
documentación, Ud. confirma la veracidad de los datos facilitados para dicha transacción.
			</p>
			<p>
				Si usted desea realizar el pago mediante algún otro método, deberá solicitarlo poniéndose en contacto 
con el Servicio de Atención al Cliente para intentar llegar a la solución más oportuna posible.

			</p>
			<p>
				Por otro lado, si Ud. ha adquirido directamente alguno de los planes de servicio que incorporan el Robot 
IMA para la medicación en el hogar, la página web le solicitará un número de tarjeta de crédito para 
poder llevar a cabo el pago mensual recurrente en función del plan elegido.
			</p>
			<p>
				Ante la eventualidad de contratar servicios gratuitos, Ud. no recibirá ningún cargo económico por dichos 
				servicios prestados. No obstante, las condiciones del servicio se verán afectadas si las entregas se 
				materializaran en un formato distinto a la medicación no preparada (cajas de medicamentos) o 
				preparada en los formatos establecidos (blíster con la medicación semanal preparada 
				convenientemente por la Farmacia Colaboradora). En caso de grandes volúmenes u otras condiciones 
				especiales (por ejemplo, con control de temperatura, entrega en una Comunidad Autónoma distinta a 
				la de la Farmacia Colaboradora escogida o solicitar una entrega en una ciudad distinta a la dirección 
				de entrega habitual) el envío tendrá un coste añadido que será convenientemente informado. En ese 
				caso, su consentimiento será previamente requerido.	
			</p>
			<p>
				Si resultara imposible entregar el medicamento o producto, o su entrega se retrasara de forma 
				injustificada por causa de problemas técnicos, por ausencia del mandatario encargado de la recepción 
				del medicamento o producto, o por ausencia del mandante o receptor de la entrega en el destino 
				pactado, Berdac podrá elegir entre entregarlo en otro momento aplicando los recargos pactados o 
				resolver la acción concreta de dicha solicitud de servicios en los términos que más adelante se 
				explicitan.	
			</p>
			<p>
				Berdac podrá rechazar una solicitud si halla pruebas de fraudulencia, abuso o de cualquier otra 
conducta de manipulación que legitime a Berdac para formular la correspondiente reclamación.

			</p>
			</li>
			<li>
				<h3>3. El Mandatario del Servicio</h3>
				<p>
					Se entiende por mandatario del Servicio la persona que realiza, en nombre y por cuenta del paciente
y/o usuario, el servicio de recogida y entrega de las recetas y del medicamento, producto sanitario, 
producto farmacéutico o de parafarmacia.

				</p>
				<p>
					El mandatario del servicio quedará identificado en el contrato que deberá firmar tras recibirlo a través 
de los medios telemáticos oportunos. Éste actuará en nombre y representación de Ud. en referencia 
al servicio de recogida y entrega de los medicamentos, productos sanitarios u productos farmacéuticos.
				</p>
				<p>
					Mediante la aceptación de este contrato, Ud. acepta que el mandatario pueda utilizar los medios 
necesarios para llevar a cabo el servicio como, por ejemplo, la delegación en terceras personas.

				</p>
				<p>
					En el improbable caso de que hubiera una persona en particular que no gozara de su confianza en el 
proceso de entrega, en todo momento podrá ponerse en contacto con el Servicio de Atención al Cliente
de Berdac a fin de encontrar una solución al respecto.
				</p>
				<p>
					A sus efectos, el mandato que firmará tiene carácter de:
					<ul>
						<li>Expreso: contiene de manera concreta el acto o actos que el mandatario debe cumplir.
						</li>
						<li>Representativo: el mandatario actúa en su nombre y por cuenta de Ud.</li>
						<li>Especial: para la ejecución del mandato en base al cumplimiento del objetivo mediante las 
							acciones que sean oportunas.
							</li>
					</ul>	
				</p>
				<p>
					Se destaca que, para lograr el resultado de acudir en su nombre a la Farmacia Colaboradora escogida 
					por Ud. a fin de recoger los medicamentos o productos que nos encargue, se podrían generar gastos 
					no previstos que, de ser el caso, se le notificarían con anterioridad.	
				</p>
			</li>
			<li>
				<h3>4. El Mandatario encargado de la recepción del medicamento o producto.
				</h3>
				<p>
					Ud. puede recibir personalmente el medicamento o producto en el lugar designado o encomendar la 
					recepción a una persona de su confianza. En este segundo supuesto, la persona designada será el 
					mandatario encargado de la recepción del medicamento o producto, siendo un mandato expreso
					(según la normativa vigente, basta con que la persona se encuentre en el lugar designado para la 
					entrega y su identidad pueda ser confirmada, sin necesidad de observar mandato escrito alguno), 
					representativo (porque el mandatario actúa en su nombre y por cuenta suya) y especial (para cada 
					solicitud de servicio en particular).	
				</p>
				<p>
					Berdac podrá identificar a la/s persona/s que hayan intervenido en el proceso de recogida y entrega 
					de su medicamento o producto, y se lo comunicará, en caso de que Ud. lo solicite.	
				</p>
			</li>
			<li>
				<h3>5. El Contrato de Mandato </h3>
				<p>
					De una parte, Ud. como contratante del Servicio y aceptante de este documento de Condiciones del 
					Servicio.
						
				</p>
				<p>
					Y de otra, D./D.ª Roger Guasch Arambudo, DNI número 47.656.498-S, c/ Gabriel y Galán número 18, 
					08026, Barcelona.	
				</p>
				<p>
					AMBAS PARTES actúan en nombre e interés propios y se reconocen mutuamente capacidad suficiente 
					para celebrar el presente contrato de mandato, y 	
				</p>
				<h3 style="text-align: center;">EXPONEN</h3>
				<p>
					I.- Que Ud. (en lo sucesivo MANDANTE) otorga autorización a D./D.ª Roger Guasch Arambudo (en lo 
sucesivo MANDATARIO) para que realice en su nombre y representación una serie de facultades.
				</p>
				<p>
					En virtud de lo anterior, las partes formalizan el presente CONTRATO DE MANDATO con arreglo a las 
siguientes
				</p>
				<h3 style="text-align: center;">CLAUSULAS</h3>
				<p>
					PRIMERA.- El MANDATARIO realizará, en representación y por cuenta del MANDANTE, todos los 
actos de administración y facilitación necesarios para el efectivo cumplimiento de su cargo, 
entendiéndose por tales todos aquellos que impliquen: 
				<ol>
					<li>La recogida de medicación en oficinas de farmacia de cuantos productos sea necesario, 
						independientemente de su naturaleza, solicitados por el MANDANTE y mediante la aplicación 
						de los recursos que sea necesarios.</li>
					<li>
						La entrega de dichos productos a la dirección solicitada por el MANDANTE, mediante la 
aplicación de los recursos que sean necesarios.
					</li>
					<li>
						La gestión de aspectos administrativos en referencia al servicio de gestión y mejora de la 
adherencia terapéutica recibida por el MANDANTE.
					</li>
				</ol>
				</p>
				<p>
					Según establece el art. 1.719 CC, el mandato se arreglará a las anteriores instrucciones que el 
					MANDANTE indica al MANDATARIO. No obstante, ante la falta de alguna indicación o detalle el 
					MANDANTE actuará como lo haría un buen padre de familia.
						
				</p>
				<p>
					SEGUNDA.- Para transigir, enajenar, hipotecar o ejecutar cualquier acto de riguroso dominio, el 
MANDATARIO precisará, de acuerdo con lo previsto en el art. 1.713 CC, de un mandato expreso del 
MANDANTE.

				</p>
				<p>
					TERCERA.- El MANDATARIO no podrá traspasar los límites del mandato, según lo dispuesto en el 
art. 1.714 CC. 
				</p>
				<p>
					No se considerarán traspasados los límites del mandato si éste fuese cumplido de una manera más 
					ventajosa para el MANDANTE que la señalada por éste, según lo dispuesto en el art. 1.715 CC.	
				</p>
				<p>
					CUARTA.- El MANDATARIO podrá nombrar un delegado para la ejecución del mandato, generándose 
					un sub-mandato y, por tanto, conservando el MANDATARIO sus facultades representativas y 
					obligaciones jurídicas contraídas con el MANDATARIO (Sentencia del Tribunal Supremo de 2 de marzo 
					de 1992).
						
				</p>
				<p>
					QUINTA.- Por la aceptación, el MANDATARIO queda obligado a cumplir el mandato, y responderá de 
los daños y perjuicios que, de no ejecutarlo, se ocasionen al MANDANTE, cláusula conforme con las 
previsiones contenidas en el art. 1.718 CC.
				</p>
				<p>
					SEXTA.- El MANDATARIO deberá dar cuenta de sus operaciones y entregará al MANDANTE cuanto 
haya recibido en virtud de su mandato, según establece el art. 1.720 CC.

				</p>
				<p>
					SÉPTIMA.- El MANDANTE cumplirá todas las obligaciones que el MANDATARIO haya contraído 
dentro de los límites del mandato.
				</p>
				<p>
					Salvo ratificación expresa o tácita, el MANDANTE no quedará obligado en lo que el MANDATARIO se 
haya excedido.
				</p>
				<p>
					OCTAVA.- El MANDANTE se compromete a anticipar, de acuerdo con lo establecido en el art. 1.728 
CC, las cantidades necesarias para la ejecución del mandato.
				</p>
				<p>
					En los casos en los que el MANDATARIO tuviere que anticipar dichas cantidades, el MANDANTE 
deberá reembolsarlas, aunque el negocio no haya salido bien, siempre que no exista culpa de parte 
del MANDATARIO.
				</p>
				<p>
					NOVENA.- El MANDANTE indemnizará todos los daños y perjuicios que el cumplimiento del mandato 
haya ocasionado al MANDATARIO, pudiendo este último, tal y como señala el art. 1.730 CC, retener 
en prenda las cosas objeto del mandato hasta que el MANDANTE realice la indemnización.

				</p>
				<p>
					DÉCIMA.- Para la resolución de cualquier discrepancia derivada de la interpretación y/o ejecución de 
este contrato, las partes, con renuncia expresa a cualquier otro fuero, se someten expresamente a los 
Juzgados y Tribunales de Barcelona.
				</p>
				<p>
					Y en prueba de conformidad, el contratante acepta el presente documento en fecha de aceptación de 
las Condiciones del Servicio.

				</p>
			</li>
			<li>
				<h3>6. Autorización y Consentimiento informado del servicio de seguimiento 
					farmacoterapéutico con sistemas personalizados de dosificación (SPD)
					</h3>
					<p>
						Mediante la aceptación de esta documentación, Ud. declarará que:
						<ul>
							<li>Desea participar en el programa de sistemas personalizados de dosificación de la farmacia 
								(SPD) y que el servicio se inicia por petición de usted y se llevará a cabo en tanto permanezca 
								este acuerdo.
								</li>
							<li>Que la Farmacia Colaboradora le informe y, por tanto, Ud. entiende toda la información de la 
								Guía de seguimiento farmacoterapéutico con sistemas de SPD que se le proporcionarán en la 
								hoja de información del servicio o, en su defecto, las explicaciones recibidas a tal fin.</li>
							<li>Que Ud. entiendo que dicho programa consiste en el acondicionamiento de la medicación en 
								un sistema de dosificación personalizada</li>
							<li>Que Ud. autorizará al Farmacéutico Titular de la Farmacia Colaboradora a que le proporcione 
								el servicio de seguimiento farmacoterapéutico y que le prepare la medicación en un sistema 
								personalizado de dosificación (SPD).</li>
							<li>Ud. autoriza, con el objetivo de asegurar el buen funcionamiento del servicio, a que la Farmacia 
								Colaboradora pueda registrar los datos personales necesarios, clínicos y farmacoterapéuticos, 
								de los que no se hará ningún otro uso sin su consentimiento explícito.
								</li>
							<li>Ud. dejará en depósito a la Farmacia Colaboradora, su medicación previamente dispensada, 
								que quedará convenientemente almacenada, custodiada y conservada por el/la 
								farmacéutico/a, con el fin de recibir el servicio mencionado.
								</li>
							<li>Ud. se compromete a presentar a la Farmacia Colaboradora y/o a los responsables de la 
								gestión del servicio, con suficiente antelación, la prescripción médica que avale un cambio en 
								la medicación, incluso de avisar de cualquier otra circunstancia que pueda modificar las 
								condiciones iniciales del tratamiento.
								</li>
							<li>Ud. queda informado de que se puede dar de baja libremente de la prestación de este tipo de 
								servicio prestado por la Farmacia Colaboradora (SPD) en cualquier momento, sin que ello 
								repercuta en su atención farmacéutica, médica o sanitaria.
								</li>
							<li>Ud. autoriza al farmacéutico a compartir, con el médico que le trata, la información sobre la 
								medicación que toma.
								</li>
							<li>Con la aceptación de este documento, Ud. consiente expresamente que sus datos personales 
								de carácter identificativo y aquellas adquisiciones de productos a crédito y, en su caso al 
								contado, efectuadas por el usuario en la oficina de farmacia (Farmacia Colaboradora), puedan 
								ser tratados con la finalidad de emitir una factura por parte de ésta.
								</li>
							<li>De conformidad con el Reglamento (UE) General de Protección de Datos (679/2016) y la Ley 
								Orgánica de Protección de Datos y Garantía de Derechos Digitales (3/2018) se identifica como 
								responsable del tratamiento al Farmacéutico Titular de la Farmacia Colaboradora. La finalidad 
								del mismo será prestar los servicios solicitados y enviar comunicaciones comerciales. Le 
								legitimización del tratamiento consiste en la ejecución de un contrato y el interés legítimo del 
								responsable. Están previstas cesiones de datos a: Administración Tributaria, Entidades 
								Financieras. Tendrá derecho a acceder, rectificar, oponerse, aportar, limitar y suprimir los datos 
								que puede ejercer dirigiéndose al correo electrónico de la Farmacia Colaboradora o a su 
								domicilio social. Procedencia: el propio interesado. Puede consultar información adicional 
								sobre protección de datos en www.aepd.com.</li>
						</ul>
					</p>
					<p>
						Este documento quedará firmado por usted una vez haya completado el proceso de alta, registro y 
						asignación una de las Farmacias Colaboradoras, a fin y efecto de que ésta disponga de la 
						documentación legal requerida para llevar a cabo la preparación de la medicación.	
					</p>
			</li>
			<li>
				<h3>7. Elección del día y hora de entrega</h3>
				<p>
					Ud. podrá elegir el día y hora de entrega respondiendo directamente a la persona que contacte con 
					Ud. para indicarle la entrega. Si no contestara a dicha comunicación, se entenderá que la entrega 
					puede realizarse al día siguiente, tal como se le estará indicando.	
				</p>
				<p>
					Del mismo modo, Ud. recibirá una nueva comunicación indicándole que su entrega está en camino y 
					la franja horaria de recepción prevista. Como en el caso anterior, podrá responder a la persona que 
					contacte con Ud. para indicarle el plazo más conveniente. Si no contestara a dicha comunicación, se 
					entenderá que la entrega puede realizarse en el plazo originalmente comunicado.
						
				</p>
				<p>
					Ud. deberá firmar a la entrega conforme se ha realizado en las condiciones establecidas y según lo 
acordado previamente. 

				</p>
			</li>
			<li>
				<h3>8. Registro del Usuario</h3>
				<p>
					La solicitud de servicio se efectuará a través de la APP o a través de la página web.	
				</p>
				<p>
					Sin perjuicio de que, en un futuro, puedan incorporarse otros servicios, las solicitudes que podrá 
					realizar son las siguientes: 
					<ul>
						<li>a) Servicio de dispensación de la medicación: por el cual un farmacéutico se ocupará de revisar 
							su plan de medicación y venderle los medicamentos que haya prescrito su facultativo, sin 
							ningún tipo de preparación de la misma ni almacenamiento en la propia farmacia.</li>
						<li>
							b) Servicio de preparación de la medicación: por el cual un farmacéutico, además de ocuparse 
de revisar su plan de medicación y venderle los medicamentos recetados (u otros que 
necesite), los preparará siguiendo la pauta indicada por el médico en un formato de SPD 
(Servicio Personalizado de Dosificación) y siguiendo todas las normativas y regulaciones para 
tal fin.
							<p>
								Para este caso, además Ud. deberá escoger las siguientes opciones:
								<ul>
									<li>
										i. Formato de preparación:
										<ol>
											<li>
												Preparación de SPD formato 4x7.

											</li>
											<li>
												Preparación de SPD formato espiral de sobres.

											</li>
											<li>
												Preparación de IMAwheel (formato de pastillero compatible con el 
Robot IMA).

											</li>
										</ol>
									</li>
									<li>
										ii. Método de recogida de la medicación:
										<ol>
											<li>
												Recogida física en la farmacia: El usuario tendrá la responsabilidad 
de recoger dicha medicación físicamente en la Farmacia 
Colaboradora que haya escogido.
											</li>
											<li>
												Recogida en la farmacia en modo delegado: En caso de que así lo 
indique (por imposibilidad o cualquier otro motivo) puede delegar la 
recogida en la farmacia y se la llevaremos al domicilio indicado, en un 
plazo máximo de 15 días desde la solicitud del primer servicio.
											</li>
										</ol>
									</li>
								</ul>
							</p>
						</li>
					</ul>	
				</p>
				<p>
					Durante el proceso de solicitud de nuestros servicios, será necesario rellenar los siguientes campos
					(listado no exhaustivo y susceptible de ser ampliado):
					<ul>
						<li>
							Fotografía de la tarjeta sanitaria.

						</li>
						<li>
							Fotografía del DNI.

						</li>
						<li>
							Domicilio de recepción de la solicitud.
						</li>
						<li>
							Email de contacto.

						</li>
						<li>
							Teléfono de contacto.

						</li>
					</ul>	
				</p>
				<p>
					La APP ofrece el servicio de aviso de la próxima finalización del medicamento. Para el servicio básico
sin Robot IMA se presupondrá que el paciente ha seguido la adherencia al medicamento prescrita por 
el facultativo y excluye expresamente la responsabilidad de Berdac en caso de fallo del sistema o uso 
inadecuado por parte del usuario.

				</p>
				<p>
					Una vez el usuario o paciente haya completado los campos y pulse el botón “confirmar solicitud de 
					servicio”, la APP comunicará los servicios contratados y enviará la información a la oficina de farmacia 
					con el objeto de que prepare con antelación el encargo que el mandatario del servicio recogerá
					presencialmente y en nombre de Ud. Cuando la Farmacia Colaboradora genere la factura 
					correspondiente, Ud. conocerá el importe asociado al servicio. Una vez emitida la factura, se le 
					solicitará la confirmación.	
				</p>
				<p>
					Los medicamentos relativos a cada solicitud de servicio serán facturados y custodiados por las 
					farmacias colaboradoras.	
				</p>
			</li>
			<li>
				<h3> 10. Oficina de farmacia elegida. Consejo Farmacéutico.</h3>
				<p>
					Mediante la aceptación de este documento, Ud. expone que conoce el acuerdo existente entre Berdac 
					y la Farmacia Colaboradora que habrá elegido.	
				</p>
				<p>
					Mediante la solicitud de pedido, el usuario o paciente acepta los servicios de la oficina de farmacia 
proveedora que se encuentre entre las nombradas como Farmacia Colaboradora de Berdac. A efectos 
informativos, se indica que la oficina de farmacia propuesta inicialmente viene determinada por 
cercanía al lugar de entrega, de entre las oficinas de farmacia colaboradoras que cuenten en su stock 
con el medicamento objeto de dispensación o los productos elegidos por el usuario o paciente. No 
obstante, Ud. podrá elegir entre un listado de Farmacias Colaboradoras en todo momento.

				</p>
				<p>
					Con la aceptación de este documento, Ud. autoriza al mandatario del servicio para obtener y 
comunicar, en caso que así sea requerido, el consejo farmacéutico que éste quiera proporcionar. 
Independientemente, la APP pone a disposición, tanto del farmacéutico como del paciente, medios de 
comunicación entre ambos (ya sea un campo para comunicación escrita o incluso sendos números de 
teléfono para poder contactar).
				</p>
				<p>
					Asimismo, la APP también pondrá a disposición del usuario un chat interactivo, que será directo y 
					privado con la farmacia que este haya seleccionado. De este modo, se podrán efectuar las consultas 
					necesarias por parte del usuario y/o paciente y para que el farmacéutico pueda proporcionar su consejo 
					e indicaciones pertinentes.
						
				</p>	
			</li>
			<li>
				<h3> 11. Precio</h3>
				<p>
					El precio por la dispensación o venta de los medicamentos y/o productos de la oficina de farmacia es 
totalmente ajeno a Berdac. Cualquier duda que surgiera sobre este particular, deberá resolverla con la 
oficina de farmacia dispensadora o vendedora.

				</p>
				<p>
					El precio por los servicios ofrecidos por Berdac, serán convenientemente especificados y notificados 
al usuario y/o paciente. En todo caso, se hace referencia a cuanto establecido en la página web pública 
de Berdac (<a href="www.berdac.com">www.berdac.com</a>) como referencia del precio de los distintos servicios.
				</p>
				<p>
					Los servicios y productos se ofrecen con IVA incluido. En caso de error tipográfico en el precio del 
					servicio o producto o incoherencia con el precio de cobro y/o facturación, Ud. podrá ejercer su derecho 
					de reclamación rellenando el formulario de contacto que puede encontrar en la web o a través de un 
					email a  <a href="mailto:soporte@imacontigo.com">soporte@imacontigo.com</a>.
						
				</p>
			</li>
			<li>
				<h3>12. Gastos de envío y plazos</h3>
				<p>
					Los gastos de envío a los que se encuentra sujeto el servicio y los productos están incluidos en los 
					precios publicados	
				</p>
				<p>
					Existen, no obstante, algunas excepciones a la gratuidad en referencia a los gastos de envío. A 
continuación, se describe una lista, no exhaustiva, de motivos que podrían generar gastos de envío 
añadidos no contemplados en el servicio habitual:
					<ul>
						<li>
							Envío de productos de gran volumen.
	
						</li>
						<li>
							Envío a destinaciones distintas a las previstas.
						</li>
						<li>
							Envío en condiciones especiales (como, por ejemplo, con control de temperatura).

						</li>
						<li>
							Causar baja del servicio con disposición de medicación preparada, ya que se enviaría 
igualmente a destinación.

						</li>
					</ul>
				</p>
				<p>
					Los plazos de entrega del servicio completo (Robot IMA y medicación preparada a destino) no 
					excederán de QUINCE (15) días, que será el período más largo posible al realizar la primera solicitud 
					de servicio. 	
				</p>
			</li>
			<li>
				<h3>13. Traspaso del riesgo</h3>
				<p>
					El riesgo de pérdida y/o daños se le transmite a Ud. en el momento en que se produzca el envío de la 
mercancía.

				</p>
			</li>
			<li>
				<h3>14. Recepción de la mercancía</h3>
				<p>
					Los usuarios que contraten uno de los planes del servicio IMA, recibirán un Robot IMA en la dirección 
					establecida como dirección de entrega.	
				</p>
				<p>
					Los usuarios que compren el producto para auto-gestionarse el servicio, recibirán una unidad de Robot 
IMA, una unidad IMAbase y 4 unidades de IMAwheel con sus correspondientes tapas de sellado. Una 
vez los fungibles hayan finalizado, Ud. deberá adquirir nuevos recambios que estarán disponibles para 
su compra en la página web en conjuntos de 4 unidades, 25 unidades o 50 unidades a los importes allí 
establecidos.

				</p>
				<p>
					Es indispensable que, en el momento de la recepción de la mercancía, se indique en el albarán que se 
firma al transportista, cualquier incidencia que pudiera existir en referencia al estado de la misma o de 
su embalaje. Además, dicha incidencia deberá comunicarse a través de la web (rellenando el formulario 
de contacto) o a través de un correo electrónico a  <a href="mailto:soporte@imacontigo.com">soporte@imacontigo.com</a>, en un plazo máximo de 
24h desde la recepción del paquete. Si el paquete presentara desperfectos importantes por los cuales 
cree que el producto podría haber sufrido daños, deberá indicarlo y notificarlo inmediatamente por las
mismas vías indicadas a BERDAC.
				</p>
			</li>
			<li>
				<h3>15. Devolución de la mercancía
				</h3>
				<p>
					Ud. dispondrá de un plazo de TREINTA (30) días a partir de la recepción del producto como intervalo 
					de tiempo de prueba. Durante este tiempo, Ud. podrá ejercer su derecho a desistimiento y enviar a 
					BERDAC cualquier reclamación en relación al producto o servicio suministrado.	
				</p>
				<p>
					Después de dicho plazo, los productos o servicios serán considerados como conformes. En caso de 
					necesitar algún tipo de asistencia, deberá contactar el Servicio de Atención al Cliente.
						
				</p>
				<p>
					BERDAC se reserva el derecho de rechazar posibles devoluciones en caso de mercancías en mal 
					estado por uso indebido. En ese caso, los gastos de transporte ocasionados por la devolución serán 
					asumidos por Ud.
						
				</p>
				<p>
					En el caso de productos adquiridos a través de un plan de servicio, cualquier incidencia de la mercancía 
que impacte en el correcto funcionamiento deberá notificarse inmediatamente al Servicio de Atención 
al Cliente, para que contacte con Ud. y se proceda a determinar la mejor solución posible.

				</p>
				<p>
					Por otro lado, si los productos se han adquirido sin disponer de un plan de servicio asociado, solo se 
					aceptarán devoluciones de material en los siguientes casos:
					<ul>
						<li>
							Material defectuoso en el momento de la recepción.

						</li>
						<li>
							Componentes estropeados durante el funcionamiento (siempre que se hayan seguido las 
indicaciones del manual de instrucciones) y esté vigente el período de garantía.
						</li>
					</ul>	
				</p>
				<p>
					En ambos casos deberá contactar con el Servicio de Atención al Cliente.	
				</p>
			</li>
			<li>
				<h3>16. Garantía</h3>
				<p>
					La garantía de los productos BERDAC asociados a una compra (y no a una prestación de servicio) 
será la establecida por la normativa vigente correspondiente al momento de la adquisición del producto 
por su parte.

				</p>
			</li>
			<li>
				<h3>17. Reparación y reposición</h3>
				<p>
					Las reparaciones del Robot IMA en período de garantía, adquirido a través de una compra y cuyo uso 
					haya sido adecuado (según lo estipulado en el manual de instrucciones del robot), serán asumidas por 
					BERDAC.	
				</p>
				<p>
					En el caso de que el robot estuviera fuera del plazo de garantía, BERDAC le ofrecerá la mejor opción 
					de solución. La reparación o reposición del robot tendrá un coste que se le dará a conocer 
					convenientemente.	
				</p>
				<p>
					Las reparaciones del Robot IMA adquirido a través de un plan de servicio, así como los costes logísticos 
asociados a la reparación, estarán incluidas en la prestación del servicio. Si la avería resultara ser 
debida a un mal uso del dispositivo, el importe de la reparación o reposición y gastos logísticos 
correspondientes deberán ser satisfechas por Ud. 
				</p>
				<p>
					En todo caso, Ud. deberá comunicar a BERDAC la incidencia existente al Servicio de Atención al 
					Cliente.
						
				</p>
			</li>
			<li>
				<h3>18. Facturación y forma de pago</h3>
				<p>
					En caso de que active o disponga de algún servicio con coste asociado, BERDAC le girará el recibo 
oportuno, tal como se ha indicado en anteriores capítulos.
				</p>
				<p>
					Independientemente del medio de pago finalmente utilizado (tarjeta de crédito o domiciliación 
					bancaria), BERDAC le enviará a Ud. la factura mensual por los servicios prestados a la dirección de 
					correo electrónico que haya utilizado durante el registro.	
				</p>
				<p>
					Recuerde que cualquier facturación relativa a los medicamentos no será ejecutada por BERDAC sino 
por la Farmacia Colaboradora que haya escogido durante el proceso de alta.

				</p>
			</li>
			<li>
				<h3>19. Seguridad en el pago</h3>
				<p>
					Con objeto de dar la máxima seguridad al sistema de pago, BERDAC utiliza sistemas seguros de 
entidades financieras de primera línea en comercio electrónico. En este sentido, los datos 
confidenciales del pago son transmitidos directamente y de forma encriptada (SSL) a la entidad 
financiera correspondiente. 
				</p>
				<p>
					Para el pago con tarjetas de crédito VISA y MASTERCARD, BERDAC únicamente acepta 
					transacciones CES (Comercio Electrónico Seguro) con el protocolo internacional 3D Secure que se 
					distingue por los distintivos Verified by Visa y MasterCard SecurCode.
						
				</p>
				<p>
					El Comercio Electrónico Seguro es una iniciativa cuyo principio básico es garantizar la seguridad en 
las transacciones por internet. Al realizar el pago a través de una pasarela de pago seguro, el sistema 
verificará automáticamente que la tarjeta de crédito esté activada para Comercio Electrónico Seguro. 
A continuación, conectará con el banco emisor de la misma, el cual solicitará que autorice la operación 
mediante un código personal de autenticación. La operación solo se efectuará si el banco emisor de la 
tarjeta de crédito confirma dicho código. En caso contrario, la transacción será rechazada. 
				</p>
				<p>
					Como medida complementaria al sistema de Pago Seguro, y con el objetivo de colaborar en la 
prevención del fraude a través de internet, BERDAC se reserva el derecho de verificar los datos 
personales suministrados por Ud., así como adoptar las medidas que estime oportunas (incluida la 
cancelación del servicio) para que la mercancía adquirida sea entregada de conformidad con los datos 
que figuran en la solicitud.
				</p>
			</li>
			<li>
				<h3>20. Devolución de recibos domiciliados</h3>
				<p>
					En caso de que Ud. opte por la domiciliación de recibos como forma de pago habitual, si un recibo 
					domiciliado fuera devuelto por la entidad bancaria, BERDAC volverá a girar el recibo pasados CINCO 
					(5) días laborables, añadiendo, a la cantidad adeudada, el importe correspondiente a la comisión 
					vigente por recibo devuelto.
						
				</p>
			</li>
			<li>
				<h3>21. Cancelaciones y devoluciones
				</h3>
				<p>
					Los medicamentos y los productos sanitarios no son devolutivos, por lo que el usuario tendrá derecho 
					a cancelar su encargo hasta el momento en el que la Farmacia haya adquirido sus medicamentos o 
					productos. A partir de ese momento, es posible que se incurra en gastos referentes a la consecución 
					de los medicamentos, así como de los servicios asociados.	
				</p>
				<p>
					A partir del momento en que Ud. como usuario decida proceder a la cancelación del servicio, se activará 
					el proceso de baja de usuario. Dicho proceso consiste en la devolución, por su parte y a su coste, de 
					cuantos dispositivos disponga relativos al servicio, así como cesar la preparación de la medicación en 
					el método acordado y, por tanto, el cese en el envío del giro mensual por el importe establecido, en 
					caso de existir. 	
				</p>
				<p>
					Si en ese momento hubiera medicación ya preparada por la oficina farmacia o dicha Farmacia 
					Colaboradora tuviera todavía custodia de parte de su medicación, ésta será enviada al domicilio 
					receptor imputando los costes oportunos del envío. 	
				</p>
				<p>
					Del mismo modo, cualquier falta de devolución de productos en mal estado, también generarían los 
costes oportunos al usuario. Dichos costes se certificarían contra el número de cuenta establecido al 
inicio, indicando el fin de la relación de los servicios prestados.
				</p>
				<p>
					En referencia a la cancelación de un servicio puntual de entrega de la medicación, si esta ocurriera 
					una vez los servicios ya han sido adquiridos por la oficina de farmacia, dispensados, preparados y/o
					despachados, BERDAC podría repercutir al usuario el coste del servicio contratado.
						
				</p>
				<p>
					El servicio se prestará de forma continuada en el tiempo, esto es, no existirá la posibilidad de realizar 
una suspensión temporal del servicio. En todo caso, podrá ponerse en contacto con el Servicio de 
Atención al Cliente para variar la dirección de entrega. En este caso, si la dirección de entrega es en 
la misma ciudad no supondrá ninguna variación en el importe correspondiente. No obstante, si la nueva 
entrega fuera requerida en una ciudad distinta, el usuario será convenientemente informado del importe 
a satisfacer con motivo del cambio de logística asociado.
				</p>
				<p>
					Ud. podrá solicitar la cancelación definitiva del servicio en cualquier momento. No existe un período de 
permanencia mínimo.
				</p>
				<p>
					La falta de devolución por su parte de cuantos componentes disponga del servicio autorizarán a 
BERDAC a aplicar una penalización de 249 € al vencimiento del plazo estipulado para la entrega del 
mismo.

				</p>
			</li>
			<li>
				<h3>22. Causas que justifican la no realización del servicio. Penalización, en su caso.</h3>
				<p>
					Se consideran causas justificadas de no realización del servicio las siguientes:
					<ul>
						<li>
							Defecto en el escaneo de la receta o tarjeta sanitaria. Sin penalización. La APP notificará el 
defecto a fin de que el usuario o paciente pueda subsanarlo.
						</li>
						<li>
							Insuficiencia de datos de la receta conforme al Real Decreto 1718/2010, de 17 de diciembre, 
							sobre receta médica y órdenes de dispensación o norma que le sustituya. Sin penalización. La 
							APP notificará el defecto a fin de que el usuario o paciente pueda subsanarlo.	
						</li>
						<li>
							Falta de entrega de información requerida que conlleve la imposibilidad de que el mandatario 
no pueda realizar el servicio. La APP comunicará la incidencia al paciente, ofreciéndole un 
plazo de subsanación de 24 horas. Si el paciente aceptara subsanarlo, se llevará a cabo el 
servicio (mediante acuerdo previo del coste entre las partes). En caso de no subsanación, el 
servicio podría suspenderse definitivamente.
						</li>
						<li>
							Rechazo puntual de la recepción del medicamento o producto. El mandatario del servicio no 
podrá concluir la entrega y estará autorizado para retener el medicamento o producto el tiempo 
indispensable para resolver la incidencia. La APP comunicará la incidencia al paciente, 
ofreciéndole un plazo de subsanación de 24 horas. La subsanación se llevará a cabo 
personalmente por el usuario o bien mediante otros medios designados por el mandatario. En 
el caso de que el usuario no acepte ninguna vía de subsanación, el servicio podría verse 
definitivamente suspendido. En tal caso, Ud. habrá perdido la oportunidad de volver a utilizar 
la receta en otra oficina de farmacia y se entenderá que rechaza voluntariamente el 
tratamiento. Con arreglo a la normativa sanitaria, el medicamento no podrá ser devuelto a la 
oficina de farmacia para efectuar una nueva dispensación, por lo que Berdac procederá a 
gestionar la entrega en concepto de cancelación puntual del servicio, acarreando los costes 
oportunos para Ud.

						</li>
						<li>
							Durante el período en que el medicamento, producto sanitario u otro producto farmacéutico se 
encuentre en poder de Berdac, Ud. presta su consentimiento para tal efecto. A partir del 
momento en que se rechace voluntariamente el tratamiento prescrito mediante su negativa a 
la entrega, Ud. ordena a Berdac proceder a la cancelación del servicio. Si en ese momento el 
medicamento obra en posesión de Berdac, se dará inicio al proceso de cancelación puntual.

						</li>
					</ul>
				</p>
			</li>
			<li>
				<h3>23. No Exclusividad</h3>
				<p>
					La aceptación de la presente documentación no supone exclusividad para ninguna de las dos partes.

				</p>
			</li>
			<li>
				<h3>24. Confidencialidad</h3>
				<p>
					Ambas partes se facilitarán recíprocamente cuantos datos, informes o material estimen necesario para 
					poder llevar a cabo la prestación del servicio para el que se contrata.	
				</p>
				<p>
					Ambas partes se comprometen a guardar confidencialidad y a no utilizar al margen del objeto del 
presente encargo, en beneficio propio o de terceros, cualquier tipo de información, oral o escrita, de la 
cual tenga conocimiento como consecuencia de la realización del objeto del presente acuerdo 
(Información Confidencial) salvo que obtenga autorización previa y expresa de la parte afectada.
				</p>
				<p>
					Ambas partes tomarán las medidas necesarias para que sus empleados, asesores y, en general, todas 
aquellas personas que estén a su cargo, que tengan necesidad de conocer Información Confidencial, 
asuman y mantengan la confidencialidad pactada.
				</p>
				<p>
					No está comprendida en la obligación de confidencialidad aquella información que:
					<ul>
						<li>
							Fuere o llegare a ser de dominio público por medios que no supongan una violación del 
compromiso asumido en la presente cláusula.
						</li>
						<li>
							Estuviere en poder de cualesquiera de las partes con anterioridad a la entrega de la 
información por la otra parte.
						</li>
					</ul>	
				</p>
				<p>
					No se entenderá que se ha incumplido la obligación de confidencialidad en el caso de que la 
					información confidencial deba ser revelada por requerimiento de las Autoridades Públicas o de acuerdo 
					con lo prevenido en las Leyes Aplicables, si bien ambas partes deberán notificarse, con la mayor 
					brevedad posible, dicha circunstancia.	
				</p>
			</li>
			<li>
				<h3>25. Duración de las condiciones.</h3>
				<p>
					Las condiciones aquí expuestas tienen una duración indefinida. Concluirán en el momento en que el 
					Usuario desinstale la aplicación de su dispositivo, o cuando Berdac cese en su actividad.	
				</p>
				<p>
					Las solicitudes de servicio tendrán una duración determinada por el tiempo necesario para la prestación 
del servicio. Darán inicio en el momento en que el Usuario pulsa el botón de aceptación de la Solicitud 
del Servicio y finalizará en el momento en que reciba el medicamento, producto sanitario o producto 
farmacéutico en el lugar designado y a través del mandatario encargado de la recepción.

				</p>
				<p>
					En caso de suspensión definitiva del servicio, el acuerdo concluirá en el momento en que Berdac pierda
la disponibilidad del medicamento, producto sanitario o producto farmacéutico por haberlo entregado 
a su destinatario final en las condiciones establecidas y previamente explicitadas.
				</p>
			</li>
			<li>
				<h3>26. Terminación, Desistimiento y Resolución del acuerdo.</h3>
				<p>
					Berdac podrá finalizar su relación con el usuario o paciente en el caso de que el usuario o paciente 
hubiera incurrido en alguna de las causas que justifican la no realización del servicio. Como la APP se 
encuentra diseñada para que cada acción sea una solicitud de servicio independiente, en este 
supuesto la APP procedería a bloquear al usuario o paciente, sin perjuicio de que el usuario o paciente
pueda ponerse en contacto con nuestro Servicio de Atención al Cliente con el objeto de solucionar la 
incidencia y reactivar nuestra relación.
				</p>
				<p>
					Desde el punto de vista del usuario, como la APP está diseñada para que cada servicio solicitado 
conforme una solicitud de servicios independiente, para evitar futuras solicitudes bastará con que no 
utilice la APP, no autorice la siguiente solicitud o, sencillamente, la desinstale de su dispositivo
				</p>
				<p>
					Una vez se proceda a la solicitud de un servicio, el usuario o paciente no podrá desistir de la misma. 
Si procediera a impedir la entrega del medicamento, se producirían las penalidades indicadas en el 
presente documento.

				</p>
				<p>
					En el supuesto de que BERDAC advierta que el usuario ha proporcionado, a través de la APP,
información no veraz, o bien se tenga conocimiento de que dicho usuario ha aportado datos personales 
del paciente sin disponer de su consentimiento o autorización, BERDAC se reserva el derecho de 
suspender el acceso y utilización de la APP, incluso a resolver anticipadamente el presente acuerdo,
hasta que sea acreditado lo contrario.
				</p>
				<p>
					BERDAC se reserva el derecho de interrumpir el servicio IMA o de resolver de modo inmediato la 
relación, si acredita que el motivo por el cual se cursó el alta ha finalizado o se produce un uso del 
mismo contrario a la legislación vigente que sea de aplicación, a las condiciones generales o a estos 
términos y condiciones del servicio. Asimismo, BERDAC se reserva el derecho de resolver la relación 
con Ud. en caso de detectar un uso inadecuado o una incorrecta conservación del equipo específico 
para la prestación del servicio.
				</p>
				<p>
					Fuera de estos supuestos, BERDAC podrá, en cualquier momento, cursar su baja y suspender la 
					prestación del servicio con previo aviso de QUINCE (15) días.	
				</p>
			</li>
			<li>
				<h3>27. Servicio de Atención al Cliente</h3>
				<p>
					Berdac pone a disposición del cliente un servicio de atención telefónica gratuita (900.909.808) de lunes 
					a viernes de 9.00 a.m. a 6 p.m. así como un mecanismo de comunicación de incidencias a través del 
					correo electrónico <a href="mailto:soporte@imacontigo.com">soporte@imacontigo.com</a>. 	
				</p>
				<p>
					También podrá contactar en cualquier momento mediante el rellenado del formulario de contacto que 
					encontrará en la página web.
						
				</p>
				<p>
					Ante cualquier incidencia, el personal de Berdac se pondrá en contacto con el usuario o paciente para 
tratar de encontrar una solución al problema detectado.

				</p>
			</li>
			<li>
				<h3>28. Acceso a datos médicos</h3>
				<p>
					Mediante la aceptación de esta documentación, Ud. acepta expresamente que Berdac acceda al 
contenido de su plan de medicación, con el fin de prestar el servicio de alarmas personalizadas, 
cumpliendo con cuanto dispuesto en la política de privacidad expresada en el apartado siguiente.

				</p>
			</li>
			<li>
				<h3>29. Protección de datos personales y cesión de datos a terceros</h3>
				<p>
					Los datos personales facilitados a Berdac por parte del usuario o paciente con motivo de la aceptación 
de esta documentación y las solicitudes de servicio (en adelante, los “Datos Personales”) serán 
tratados con la finalidad de prestarle los servicios aquí previstos, siendo la base legal para dicho 
tratamiento la misma ejecución de estas condiciones y las solicitudes individuales.
				</p>
				<p>
					En particular, sus datos serán tratados para gestionar el registro en la APP, ejecutar las solicitudes de 
servicio, así como resolver las incidencias que puedan producirse en relación con las mismas.
				</p>
				<p>
					Con la aceptación de esta documentación, Ud. acepta que BERDAC (responsable del tratamiento de 
					datos) ceda los datos personales indicados a la Farmacia Colaboradora (encargado del tratamiento) a 
					fin y efecto único de preparar la medicación en los términos indicados por su facultativo y poderse 
					poner en contacto con Ud. en caso de existir alguna duda en dicho proceso.	
				</p>
				<p>
					BERDAC garantiza la protección de sus datos conforme a la normativa vigente. Los datos recogidos 
en este proceso y todos los facilitados por Ud. se incorporarán en un fichero que BERDAC mantiene 
con la finalidad de gestionar la relación empresa – cliente.
				</p>
				<p>
					Adicionalmente, los Datos Personales relacionados con la salud que facilite el usuario o paciente a 
Berdac a la que pueda acceder ésta con motivo de la prestación de los servicios (tales como DNI, 
tarjeta sanitaria, email, número de teléfono, plan de medicación, domicilio de entrega, etc.), serán 
tratados sobre la base legal del consentimiento que comporta su registro en la APP y cada concreta
solicitud de servicio. El consentimiento otorgado por el usuario o paciente podrá ser revocado en 
cualquier momento sin que esto afecte a la licitud del tratamiento llevado a cabo con anterioridad.
				</p>
				<p>
					Berdac comunicará los Datos Personales necesarios para completar la solicitud de servicio a la oficina 
de farmacia que vaya a dispensar el medicamento solicitado por el usuario o paciente de conformidad
con lo dispuesto en el presente documento. Del mismo modo, Berdac dará acceso a los Datos a 
prestadores de servicios de desarrollo y mantenimiento de software en la medida en que dicho acceso 
sea necesario para la prestación de los servicios, así como, en su caso, a terceros a quienes puede
subcontratar el servicio de recogida y entrega de los medicamentos o productos.
				</p>
				<p>
					Adicionalmente, la aceptación de estas condiciones por parte del usuario habilita a Berdac a tratar sus 
datos Personales para la prestación de servicios de valor añadido que puedan estar operativos ahora 
o en el futuro, ya sean gratuitos o con importe asociado, tales como, pero sin menoscabo de que se 
añadan más, alertas cuando un medicamento adquirido obtenido haciendo uso de la APP se encuentre 
próximo a su finalización o alertas recordando las tomas de cada uno de los medicamentos que el 
usuario haya adquirido a través de la APP. El tratamiento de esta información solo podrá realizarse 
sobre la base del consentimiento otorgado por el paciente o usuario en el momento de aceptar el 
presente acuerdo. Para la prestación de este servicio, Berdac comunicaría sus Datos Personales a la 
oficina de farmacia con la finalidad de que ésta le proporcionara la información necesaria para 
establecer las correspondientes alertas. En caso de que el usuario no facilitara su consentimiento para 
que Berdac pudiera obtener dicha información, las alertas podrían no ajustarse a las necesidades del 
usuario. El usuario o paciente puede revocar su consentimiento en cualquier momento sin que esto 
afecte a la licitud del tratamiento llevado a cabo con anterioridad a dicha revocación.

				</p>
				<p>
					Si la persona usuaria no coincidiera con la persona paciente, así como en caso de aportación de datos 
					de terceros, el usuario declara y garantiza, bajo su exclusiva responsabilidad, que dispone del 
					consentimiento expreso del paciente para el tratamiento de sus datos en referencia al uso de la APP, 
					así como de la autorización de dichos terceros para facilitar sus datos a Berdac. El usuario manifiesta 
					y garantiza que ha informado al paciente y dichos terceros del tratamiento de sus datos que tiene lugar 
					con motivo del acceso y utilización de la APP y se compromete a mantener indemne a Berdac frente a 
					cualquier responsabilidad que pueda derivarse de la ausencia de dicho consentimiento o autorización.	
				</p>
				<p>
					Berdac se reserva el derecho a efectuar cuantas comprobaciones considere oportunas a fin de verificar 
					las circunstancias a que se refiere el párrafo anterior.
				</p>
				<p>
					Los Datos de registro en la APP (incluyendo, en su caso, los relacionados con el servicio de alertas) 
serán conservados mientras las presentes condiciones se mantengan en vigor de conformidad con lo 
dispuesto en el mismo. Dichos datos se conservarán bloqueados durante un plazo de 5 años desde la 
finalización del mismo, independientemente del motivo de tal finalización, en la medida en que sean 
necesarios para la atención de posibles responsabilidades derivadas de la relación contractual y 
consiguiente tratamiento de los Datos Personales.

				</p>
				<p>
					Los Datos asociados a una solicitud de servicios serán conservados por Berdac mientras sean 
necesarios para la gestión de la misma. Con posterioridad, se mantendrán bloqueados en la medida
en que sean necesarios para la atención de posibles responsabilidades derivadas del tratamiento o el 
cumplimiento de obligaciones legales a las que pueda estar sujeto Berdac.
				</p>
				<p>
					Los interesados cuyos datos sean tratados por Berdac, de acuerdo con lo señalado anteriormente, 
					podrán ejercitar sus derechos de acceso, rectificación oposición, supresión, portabilidad y limitación 
					del tratamiento, mediante solicitud a <a href="mailto:soporte@imacontigo.com">soporte@imacontigo.com</a>, acompañando copiad de su DNI o 
					documento equivalente acreditativo de su identidad.
				</p>
				<p>
					Asimismo, los interesados tienen derecho a recabar la tutela de la Agencia Española de Protección de 
datos a través de su página web <a href="www.aepd.es">www.aepd.es</a> 

				</p>
				<p>
					Finalmente, le informamos de que es necesario proporcionar los datos de aquellos campos señalados 
					como obligatorios y que la negativa a suministrar los mismo podrá conllevar que no sea posible la 
					suscripción del presente acuerdo.
						
				</p>
			</li>
			<li>
				<h3>30. Resolución de conflictos</h3>
				<p>
					Las partes, con renuncia expresa a cualquier fuero que pudiera corresponderles, acuerdan que todo 
litigio, discrepancia, cuestión o reclamación resultante de la ejecución o interpretación de las presentes
Condiciones, o relacionado con las mismas, directa o indirectamente, serán sometidas a los Juzgados 
y Tribunales de la ciudad de Barcelona.
				</p>
			</li>
		</ul>
	
		</div>



	</div>
<div style="width: 100%;">
	<div style="text-align: center; margin-top: 60px">
		<h4>DOCUMENTO DE AUTORIZACIÓN Y CONSENTIMIENTO INFORMADO DEL SERVICIO DE SEGUIMIENTO FARMACOTERAPÉUTICO CON SISTEMAS PERSONALIZADOS DE DOSIFICACIÓN(SPD)</h5>
	</div>
	<form>
		<ul class="list">
		<li class="data">Farmacéutico titular: <%= farmacia.titular %></li>
		<li class="data">Dirección: <%= farmacia.direction %></li>
		<li class="data">Nombre y Apellidos: <%= farmacia.fullName %></li>
		<li class="data">D.N.I: <%= farmacia.dni %></li>
		<li class="data">Nº tarjeta sanitaria: <%= farmacia.tarjetaSanitaria %></li>
		<li class="data">IBAN (Opcional): <%= farmacia.iban %></li>
		</ul>
	</form>
	<article >
		<p style="margin-left: 20px;"> Declaro que:</p>
		<ul style="text-align: justify;margin-right: 30px">
			<li>Deseo  participar  en  el  programa  de  sistemas  personalizados  de  dosificación  de  la  farmacia  (SPD)  y  que  el servicio se inicia a petición mía y se llevará a cabo en tanto permanezca este acuerdo.</li>
			<li>He leído y entendido toda la información de la Guía de seguimiento farmacoterapéutico con sistemas de SPD que se me ha proporcionado en la hoja de información del servicio o, en su defecto, las explicaciones recibidas a tal fin.</li>
			<li>Entiendo que dicho programa consiste en el acondicionamiento de la medicación en un sistema de dosificación personalizada</li>
			<li>Por eso, autorizo al Farmacéutico Titular a que me proporcione el servicio de seguimiento farmacoterapéutico y que me prepare la medicación en un sistema personalizado de dosificación (SPD). </li>
			<li>Para  el  buen  funcionamiento  del  servicio,  quedan  autorizados  a  registrar  los  datos  necesarios  personales,clínicos y farmacoterapéuticos, de los que no se hará ningún otro uso sin mi consentimiento explícito</li>
			<li>Dejo  en  depósito  a  la  farmacia  mi  medicación  previamente  dispensada,  que  quedará  convenientemente almacenada, custodiada y conservada por el farmacéutico, con el fin de recibir el servicio mencionado</li>
			<li>Presentaré  a  la  farmacia  y/o  a  los  responsables  de  la  gestión  del  servicio,  con  suficiente  antelación,  la prescripción médica que avale un cambio en la medicación o avisaré de cualquier otra circunstancia que pueda modificar las condiciones iniciales de mi tratamiento/li>
			<li>Sé que me puedo dar de baja libremente de la prestación de este servicio (SPD) en cualquier momento, sin que ello repercuta en mi atención farmacéutica, médica y sanitaria</li>
			<li> Autorizo al farmacéutico a compartir con el médico que me trata la información sobre la medicación que tomo</li>
			<li>Mediante la firma del presente documento, el  usuario consiente expresamente que sus datos personales de carácter identificativo y aquellas adquisiciones de productos a crédito y, en su caso, al contado efectuadas por el usuario en esta oficina de farmacia puedan ser tratados con la finalidad de emitir factura</li>
			<li>De  conformidad  con  el  Reglamento  (UE)  General  de  Protección  de  Datos  (679/2016)  y  la  Ley  Orgánica  de Protección de Datos y Garantía de Derechos Digitales (3/2018) se identifica como a responsable del tratamiento al Farmacéutico Titular. La finalidad del mismo será prestar los servicios solicitados y enviar comunicaciones comerciales. La  legitimación del  tratamiento consiste  en  la ejecución de un contrato y el  interés  legítimo  del responsable.  Están  previstas  cesiones  de  datos  a:  Administración  Tributaria,  Entidades  financieras.  Tiene derecho  a  acceder,  rectificar,  oponerse,  portar,  limitar  y  suprimir  los  datos  que  puede  ejercer  dirigiéndose  a ____________________________________________o al domicilio social. Procedencia: El propio interesado. Puede consultar información adicional sobre protección de datos en ____________________________________________.</li>
		</ul> 
	</article>
	<table id="firmas">
		<tr>
		 	<th> 
				Fdo.: D/Dª 
			</th>
		 	<th>
				Fdo.: Representante (opcional) 
			</th>
			<th> 
				Fdo.: Farmacéutico titular
			</th>
		</tr>
		<tr >
			<td class="imagenFirma"><img src="data:image/png;base64,<%= farmacia.base64 %>" alt="firma">
			<td class="imagenFirma"><img src="data:image/png;base64,<%= farmacia.base64 %>" alt="firma">
			<td class="imagenFirma"><img src="data:image/png;base64,<%= farmacia.base64 %>" alt="firma">
		</tr>
	</section>
</div>
</body>
</html>

